{% extends "base.html" %}
{% block content %}

    <div>
      <div class="tc">
        <h1 class="f1 orange">mycofile</h1>
        <h3 class="near-white">culture library & cultivation log</h3>
      </div>
    </div>
    <div class="mw9 center ph3-ns">
      <div class="cf ph2-ns">
        <div class="fl w-25 pa2">
          <div class="pa5 ba mid-gray bg-near-white pv4">
            <h4>Library</h4>
            <p>Form to add a culture</p>
            <h4>Line</h4>
            <p>Form to add a line</p>
          </div>
        </div>
        <div class="fl w-75 pa2">
          <div class="pa5 outline bg-near-white pv4">
            <h4>Main Interface Panel</h4>
            <p>Display lines. Add filters.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

{% endblock %}
